# Analyse de données
pandas
numpy
pyarrow

# Visualisation
matplotlib
seaborn
plotly
altair

# Application & Serveur
streamlit

# Développement & Tests
pytest
pytest-cov
pytest-mock
pylint
isort
GitPython

# Utilitaires
requests
watchdog
pytest
pylint